---
---
@charset "utf-8";

$icon-font-path:      "/fonts/bootstrap";
    
@import "bootstrap";

// Default font is Helvetica, becomes Arial or Sans-serif if the browser cannot support it
body {
    margin: 60px auto;
    width: 70%;
    background-color: whitesmoke;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


//nav bar
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    text-decoration: underline;
}

p a{
    text-decoration: none;
    color: blue;
}