---
layout: default
---

<header class="text-center">
    <h2>{{ page.title }}</h2>
</header>

{% for section in site.data.index-sections %}
<div id={{section.html}} class="container-fluid">

    <div class="jumbotron">
        <section>
            <h3 class="bg-3 text-center">{{ section.subtitle }}</h3>
            {% capture section_html %}{% include sections/{{ section.html }}.md %}{% endcapture %}
            {{ section_html | markdownify }}
        </section>
    </div>
</div>
{% endfor %}
